@import "../Themes.css";

.display-container {
    background-color: var(--display-background-color);
    min-height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.display-text {
    color: var(--display-text-color);
    width: 100%;
    padding-right: 4%;
    display: flex;
    justify-content: end;
    font-size: 38px;
}