.display-container {
    background-color: hsl(224, 36%, 15%);
    min-height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.display-text {
    color: white;
    width: 100%;
    padding-right: 4%;
    display: flex;
    justify-content: end;
    font-size: 38px;
}