.key-container {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 2%;
}

.key-container:hover {
    cursor: pointer;
}

.key-text {
    font-size: 32px;
}

/* Key Background Colors */
.key-color-white {
    background-color: hsl(32, 26%, 89%);
    box-shadow: 0px 6px hsl(25, 16%, 65%);
    color: hsl(198, 20%, 13%);
}

.key-color-blue {
    background-color: hsl(226, 22%, 50%);
    box-shadow: 0px 6px hsl(226, 28%, 36%);
    color: white;
}

.key-color-red {
    background-color: hsl(6, 64%, 50%);
    box-shadow: 0px 6px hsl(6, 68%, 35%);
    color: white;
}