@import "../Themes.css";

.key-container {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 2%;
}

.key-container:hover {
    cursor: pointer;
}

.key-text {
    font-size: 32px;
}

/* Key Background Colors */
.key-type-generic {
    background-color: var(--generic-key-background-color);
    box-shadow: var(--generic-key-box-shadow);
    color: var(--generic-key-text-color);
}

.key-type-special {
    background-color: var(--special-key-background-color);
    box-shadow: var(--special-key-box-shadow);
    color: var(--special-key-text-color);
}

.key-type-result {
    background-color: var(--result-key-background-color);
    box-shadow: var(--result-key-box-shadow);
    color: var(--result-key-text-color);
}

/* Key Background Colors Pressed */
.key-type-generic:active {
    background-color: var(--generic-key-background-color-active);
    box-shadow: var(--generic-key-box-shadow-active);
    color: var(--generic-key-text-color-active);
}

.key-type-special:active {
    background-color: var(--special-key-background-color-active);
    box-shadow: var(--special-key-box-shadow-active);
    color: var(--special-key-text-color-active);
}

.key-type-result:active{
    background-color: var(--result-key-background-color-active);
    box-shadow: var(--result-key-box-shadow-active);
    color: var(--result-key-text-color-active);
}