@import "../Themes.css";

.toggle {
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--toggle-background-color);
    width: 100px;
    margin-top: 5%;
  }

  .toggle-btn {
    width: 20px;
    height: 20px;
    appearance: none;
    border-radius: 15px;
  }

  .toggle-btn:checked {
    background-color: var(--toggle-btn-checked-color);
    transition-property: background-color;
    transition-duration: .3s;
    transition-delay: 0s;
  }

  .toggle-btn:hover {
    cursor: pointer;
  }

  .toggle-btn-container {
    position: relative;
    box-sizing: none;
    width: 20px;
    height: 20px;
  }

  .toggle-label {
    position: absolute;
    top: -30px;
    left: 4px;
    color: var(--toggle-label-text-color);
  }

  .toggle-label span {
    color: var(--toggle-label-text-color);
  }