@font-face {
  font-family: 'Spartan', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
}

body {
  font-family: 'Spartan', sans-serif;
  color: white;
}

.background-dark-blue {
  background-color: hsl(222, 26%, 31%);
}