[data-theme="one"] {
    /* Main Background */
    --main-background-color: hsl(222, 26%, 31%);
    --main-text-color: white;

    /* Toggle */
    --toggle-background-color: hsl(223, 31%, 20%);
    --toggle-btn-checked-color: hsl(6, 63%, 50%);
    --toggle-label-text-color: white;

    /* Display */
    --display-background-color: hsl(224, 36%, 15%);
    --display-text-color: white;

    /* Keypad */
    --keypad-background-color: hsl(223, 31%, 20%);

    /* Generic Keys */
    /* Normal */
    --generic-key-background-color: hsl(32, 26%, 89%);
    --generic-key-box-shadow: 0px 6px hsl(25, 16%, 65%);
    --generic-key-text-color: hsl(198, 20%, 13%);
    /* Active */
    --generic-key-background-color-active: hsl(25, 16%, 65%);
    --generic-key-box-shadow-active: none;
    --generic-key-text-color-active: hsl(198, 20%, 13%);

    /* Special Keys */
    /* Normal */
    --special-key-background-color: hsl(226, 22%, 50%);
    --special-key-box-shadow: 0px 6px hsl(226, 28%, 36%);
    --special-key-text-color: white;
    /* Active */
    --special-key-background-color-active: hsl(226, 28%, 36%);
    --special-key-box-shadow-active: none;
    --special-key-text-color-active: white;

    /* Result Keys */
    /* Normal */
    --result-key-background-color: hsl(6, 64%, 50%);
    --result-key-box-shadow: 0px 6px hsl(6, 68%, 35%);
    --result-key-text-color: white;
    /* Active */
    --result-key-background-color-active: hsl(6, 68%, 35%);
    --result-key-box-shadow-active: none;
    --result-key-text-color-active: white;
}

[data-theme="two"] {
    /* Main Background */
    --main-background-color: hsl(0, 0%, 90%);
    --main-text-color: hsl(60, 11%, 19%);

    /* Toggle */
    --toggle-background-color: hsl(0, 6%, 82%);
    --toggle-btn-checked-color: hsl(27, 96%, 38%);
    --toggle-label-text-color: hsl(60, 11%, 19%);

    /* Display */
    --display-background-color: hsl(0, 6%, 82%);
    --display-text-color: hsl(60, 11%, 19%);

    /* Keypad */
    --keypad-background-color: hsl(0, 6%, 82%);

    /* Generic Keys */
    /* Normal */
    --generic-key-background-color: hsl(48, 9%, 89%);
    --generic-key-box-shadow: 0px 6px hsl(33, 11%, 61%);
    --generic-key-text-color: hsl(60, 11%, 19%);
    /* Active */
    --generic-key-background-color-active: hsl(33, 11%, 61%);
    --generic-key-box-shadow-active: none;
    --generic-key-text-color-active: hsl(60, 11%, 19%);

    /* Special Keys */
    /* Normal */
    --special-key-background-color: hsl(185, 41%, 37%);
    --special-key-box-shadow: 0px 6px hsl(186, 58%, 25%);
    --special-key-text-color: white;
    /* Active */
    --special-key-background-color-active: hsl(186, 58%, 25%);
    --special-key-box-shadow-active: none;
    --special-key-text-color-active: white;

    /* Result Keys */
    /* Normal */
    --result-key-background-color: hsl(25, 99%, 39%);
    --result-key-box-shadow: 0px 6px hsl(25, 100%, 26%);
    --result-key-text-color: white;
    /* Active */
    --result-key-background-color-active: hsl(25, 100%, 26%);
    --result-key-box-shadow-active: none;
    --result-key-text-color-active: white;
}

[data-theme="three"] {
    /* Main Background */
    --main-background-color: hsl(268, 75%, 9%);
    --main-text-color: hsl(52, 100%, 63%);

    /* Toggle */
    --toggle-background-color: hsl(268, 75%, 12%);
    --toggle-btn-checked-color: hsl(177, 99%, 45%);
    --toggle-label-text-color: hsl(52, 100%, 63%);

    /* Display */
    --display-background-color: hsl(268, 75%, 12%);
    --display-text-color: hsl(52, 100%, 63%);

    /* Keypad */
    --keypad-background-color: hsl(268, 75%, 12%);

    /* Generic Keys */
    /* Normal */
    --generic-key-background-color: hsl(269, 48%, 20%);
    --generic-key-box-shadow: 0px 6px hsl(289, 67%, 37%);
    --generic-key-text-color: hsl(52, 100%, 63%);
    /* Active */
    --generic-key-background-color-active: hsl(289, 67%, 37%);
    --generic-key-box-shadow-active: none;
    --generic-key-text-color-active: hsl(52, 100%, 63%);

    /* Special Keys */
    /* Normal */
    --special-key-background-color: hsl(281, 89%, 26%);
    --special-key-box-shadow: 0px 6px hsl(285, 92%, 52%);
    --special-key-text-color: white;
    /* Active */
    --special-key-background-color-active: hsl(285, 92%, 52%);
    --special-key-box-shadow-active: none;
    --special-key-text-color-active: white;

    /* Result Keys */
    /* Normal */
    --result-key-background-color: hsl(177, 99%, 45%);
    --result-key-box-shadow: 0px 6px hsl(176, 91%, 70%);
    --result-key-text-color: hsl(180, 100%, 11%);
    /* Active */
    --result-key-background-color-active: hsl(176, 91%, 70%);
    --result-key-box-shadow-active: none;
    --result-key-text-color-active: hsl(180, 100%, 11%);
}